@font-face {
    font-family: "Fixedsys";
    font-style: normal;
    font-weight: normal;
    src:
        local("Fixedsys Excelsior 3.01"),
        url("fonts/fixedsys/FSEX300.woff") format("woff");
}

@font-face {
    font-family: "Kongtext";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/kongtext/kongtext.ttf") format("truetype");
}

:root {
    --padding: 10px;
    --image: 100px;
    --margin: 50px;

    --black: black;
    --blackish: #666666;
    --darkgray: #cccccc;
    --gray: #eeeeee;
    --negative: rgba(100, 0, 0, 0.2);
    --positive: rgba(0, 100, 0, 0.2);
}

body {
    line-height: 1rem;
    font-size: var(--small);
    font-family: "Fixedsys", monospace;
}

a,
a:visited {
    color: var(--blackish);
    text-decoration-thickness: 2px;
}
a:hover {
    background-color: var(--darkgray);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding);
}
header select,
header button,
header button:visited {
    font-family: "Fixedsys", monospace;
    font-size: 16px;
    color: var(--blackish);
    background-color: transparent;
    appearance: none;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid var(--blackish);
    height: calc(var(--padding) * 2);
    cursor: pointer;
    text-align: left;
    padding: 0 var(--padding);
}
header select:hover,
header button:hover {
    background-color: var(--gray);
}

.pagination {
    display: flex;
    flex-direction: row;
    gap: var(--padding);
    justify-content: right;
    margin-right: var(--padding);
}

section {
    display: flex;
    flex-direction: row;
    margin: var(--margin) var(--padding) var(--margin) var(--padding);
    border-bottom: 5px solid var(--gray);
}

p {
    color: var(--blackish);
}
.name b {
    font-size: 24px;
    color: var(--black);
}
.price b,
.image b {
    font-family: "Kongtext", monospace;
    color: var(--black);
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.image img {
    width: var(--image);
}

.information {
    flex: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name p,
.description p {
    padding-left: var(--padding);
    padding-right: var(--padding);
    text-align: justify;
}
.category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.country {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--padding);
    padding-right: var(--padding);
}
@media (max-width: 490px) {
    .price {
        flex-direction: column;
        align-items: flex-start;
    }
}
