@font-face {
    font-family: "JetBrainsMono";
    src: url("./fonts/JetBrainsMono/Regular.woff2") format("woff2");
    font-weight: 400; /* Normal weight */
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("./fonts/JetBrainsMono/Light.woff2") format("woff2");
    font-weight: 300; /* Light weight */
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("./fonts/JetBrainsMono/Bold.woff2") format("woff2");
    font-weight: 700; /* Bold weight */
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("./fonts/JetBrainsMono/ExtraBold.woff2") format("woff2");
    font-weight: 800; /* Extra Bold weight */
}

:root {
    --border: 2px;
}

body {
    font-family: "JetBrainsMono", monospace;
    font-size: 14px;
    padding: 20px;
    line-height: 1.4rem;
    min-height: 90vh;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.email {
    margin-left: auto;
}

footer {
    display: flex;
    justify-content: space-between;
}

a {
    display: inline-block;
    color: #666666;
    font-weight: 700;
    text-decoration-thickness: min(var(--border), 2px);
}

a:hover {
    background-color: #cccccc;
}

section {
    border: var(--border) solid black;
    background-color: white;
    padding: 10px;
    margin: 20px 0px;
    margin-right: 6px;
    overflow: hidden;
    box-shadow:
        5px 5px 0px #eeeeee,
        5px 5px 0px var(--border) black;
}

section header {
    background-color: #eeeeee;
    border-bottom: var(--border) solid black;
    font-weight: 700;
    padding: 5px 10px;
    margin: -10px -10px 10px -10px;
}

code {
    background-color: #f4f4f4;
    /* border-top: var(--border) solid black; */
    /* border-bottom: var(--border) solid black; */
    padding: 1px 35px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -11px;
    width: calc(100% + 22px);
    box-sizing: border-box;
}

@media (max-width: 640px) {
    body {
        font-size: 12px;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }
    .email {
        margin-left: 0;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
