  <% if (typeof page !== 'undefined') { %>
    <div class="pagination" id="bottom">
      <div onclick="window.location.href='/?fresh=false'">SNUBLEJUICE.no</div>
      <img src="images/snublejuice.png" alt="SNUBLEJUICE.no" onclick="window.location.href='/?fresh=false'">
      <div class="pages">
        <% if (page > 1) { %>
            <a href="#" onclick="changePage(<%= page - 1 %>)"><-</a>
        <% } %>

        <span><%= page %> av <%= totalPages %></span>

        <% if (page < totalPages) { %>
            <a href="#" onclick="changePage(<%= page + 1 %>)">-></a>
        <% } %>
      </div>
    </div>
  <% } %>

  <footer>
    <div class="copyright">
      ©
      <div class="names">
          <div style="letter-spacing: 0.03em;"><a href="https://dilettant.no" target="_blank">Hallvard H. Lavik</a></div>
          <div>Carlos Hebbinghaus</div>
      </div>
    </div>
    <div class="names">
      <button id="updateCookies">Samtykke?</button>
      <a href="https://github.com/hallvardnmbu/snublejuice" target="_blank">Kildekode</a>
    </div>
  </footer>

  <script src="scripts/buttons.js"></script>
  <script src="scripts/cookie.js"></script>
