@font-face {
    font-family: "Fixedsys";
    font-style: normal;
    font-weight: normal;
    src:
        local("Fixedsys Excelsior 3.01"),
        url("fonts/fixedsys/FSEX300.woff") format("woff");
}

@font-face {
    font-family: "Kongtext";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/kongtext/kongtext.ttf") format("truetype");
}

:root {
    --font-body: 22px;
    --font-normal: 20px;
    --font-pagination: 26px;
    --font-title: 24px;
    --font-description: 18px;

    --padding: 10px;
    --image: 100px;
    --margin: 50px;

    --black: black;
    --blackish: #666666;
    --darkgray: #cccccc;
    --gray: #eeeeee;
    --negative: rgba(100, 0, 0, 0.2);
    --positive: rgba(0, 100, 0, 0.2);
}

body {
    line-height: 1rem;
    font-size: var(--font-body);
    font-family: "Fixedsys", monospace;
}

a,
a:visited {
    color: var(--blackish);
    text-decoration-thickness: 2px;
}
a:hover {
    background-color: var(--darkgray);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: calc(2 * var(--padding));
    margin: var(--padding);
}

.pagination {
    font-size: var(--font-pagination);
    display: flex;
    flex-direction: row;
    gap: var(--padding);
    justify-content: space-between;
    margin-right: var(--padding);
    margin-left: var(--padding);
}

select,
input,
button {
    font-family: "Fixedsys", monospace;
    font-size: var(--font-normal);
    color: var(--blackish);
    background-color: transparent;
    appearance: none;
    border-radius: 0;
    border: none;
    cursor: pointer;
    text-align: left;
    border-bottom: 2px solid var(--blackish);
    padding: 0;
}
input {
    max-width: 70px;
    text-align: center;
}
button {
    padding-left: var(--padding);
    padding-right: var(--padding);
}

select {
    width: 100%;
    padding-right: calc(var(--padding) * 2);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,5" fill="rgb(102,102,102)"/></svg>');
    background-repeat: no-repeat;
    background-position: right calc(var(--padding) / 2) bottom;
}
header form select:hover,
header form button:hover,
header form input:hover {
    background-color: var(--gray);
}

.filterSelection,
.advancedSelection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--padding);
    margin-left: var(--padding);
    margin-right: var(--padding);
    margin-bottom: calc(2 * var(--padding));
    padding-bottom: calc(2 * var(--padding));
    border-bottom: 5px solid var(--gray);
}
.filterSelection {
    gap: var(--margin);
    align-items: flex-end;
}
.advancedSelection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--padding);

    font-size: var(--font-normal);
    color: var(--blackish);
}
.mainSelection {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    width: 100%;
    max-width: 350px;
}
.mainSelection > * {
    width: 100%;
}
.mainSelection div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainSelection div > * {
    width: 100%;
}
.mainSelection div button {
    display: flex;
    justify-content: center;
    width: 10px;
    margin-left: var(--padding);
}

#message {
    margin-top: var(--margin);
    margin-right: var(--padding);
    margin-left: var(--padding);
    padding: var(--padding);
    text-align: center;
    border: 2px solid var(--blackish);
    background-color: var(--negative);
}

section {
    display: flex;
    flex-direction: row;
    margin: var(--margin) var(--padding) var(--margin) var(--padding);
    border-bottom: 5px solid var(--gray);
}

p {
    color: var(--blackish);
}
.name b {
    font-size: var(--font-title);
    color: var(--black);
}
.price b,
.image b {
    font-family: "Kongtext", monospace;
    color: var(--black);
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}
.image img {
    width: var(--image);
}

.information {
    flex: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.name p,
.description p {
    margin-left: var(--padding);
    margin-right: var(--padding);
}
.description p {
    text-align: justify;
    font-size: var(--font-description);
}
.category {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.country {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: var(--padding);
    margin-right: var(--padding);
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
}
.infobox {
    font-size: var(--font-normal);
    background-color: white;
    margin: calc(2 * var(--margin)) auto;
    padding: var(--padding);
    padding-bottom: 0;
    border: 5px solid var(--blackish);
    width: 60%;
}
.close {
    color: var(--blackish);
    float: right;
    font-size: var(--font-pagination);
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--padding);
}
.names {
    display: flex;
    flex-direction: column;
}

@media (max-width: 690px) {
    :root {
        --font-body: 20px;
        --font-normal: 16px;
        --font-pagination: 20px;
        --font-title: 22px;
        --font-description: 16px;
    }

    .filterSelection,
    .advancedSelection,
    .mainSelection {
        flex-direction: column;
        align-items: center;
        gap: var(--padding);
    }

    .pagination {
        flex-direction: column;
        align-items: center;
    }
    .infobox {
        width: 90%;
    }

    .price {
        flex-wrap: wrap-reverse;
    }
    .price,
    .image {
        line-height: 1.4rem;
    }
    footer {
        flex-direction: column;
        align-items: center;
        margin-top: calc(3 * var(--padding));
    }
    #bottom {
        flex-direction: column-reverse;
    }
    #dot {
        overflow: hidden;
        display: none;
    }
}
