:root {
    --padding: 10px;
    --height: 40px;

    --background: #ffffff;
    --contrast: #333333;
    --hover: #cccccc;
    --tint: #f9f9f9;
}
[data-theme="dark"] {
    --background: #333333;
    --contrast: #cccccc;
    --hover: #7a7a7a;
    --tint: #444444;
}

body {
    background-color: var(--background);
    color: var(--contrast);
    font-family: monospace;
    font-size: 1.1em;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
    box-sizing: border-box;
    padding: var(--padding);
}
main {
    flex: 1;
}

header,
footer {
    display: flex;
    justify-content: center;
}
header {
    gap: var(--padding);
    margin: var(--padding);
}

a {
    display: inline-block;
    color: var(--contrast);
}
a:hover {
    background-color: var(--hover);
}

.heading,
.message {
    padding: var(--padding);
    align-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.heading {
    margin-bottom: calc(var(--height) - 2 * var(--padding));
}

section {
    margin: 0 var(--padding) var(--height) var(--padding);
    border: 1px solid var(--contrast);
}
hr {
    margin: 0;
    border: none;
    border-top: 1px solid var(--contrast);
}

.top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
}
.words,
.group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: var(--height);
    padding: 0 var(--padding) 0 var(--padding);
}
.word {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--contrast);
}
.pronunciation {
    font-weight: normal;
    font-size: 0.9em;
    padding-left: var(--padding);
    padding-right: var(--padding);
}

.etymology {
    font-style: italic;
    padding: var(--padding);
}
.define {
    padding: var(--padding);
}
.definition {
    padding-bottom: var(--padding);
}
.define,
.definition {
    --indent: 1;
    padding-left: calc(var(--indent) * var(--padding));
    padding-right: var(--padding);
    background-color: var(--tint);
}

.toggleInflection {
    width: 100%;
    min-height: var(--height);
    padding: var(--padding);
    text-align: left;
    font-family: monospace;
    font-size: 1em;
    border: none;
    border-top: 1px solid var(--contrast);
    background-color: var(--background);
    color: var(--contrast);
}
.toggleInflection:hover {
    background-color: var(--hover);
    cursor: pointer;
}

.inflection {
    border-collapse: collapse;
    table-layout: fixed;
    border-top: 1px solid var(--contrast);
    width: 100%;
    background-color: var(--tint);
}

.inflection tr {
    text-align: left;
    border-bottom: 1px solid var(--hover);
}
.inflection td {
    padding: var(--padding);
}

.form-cell {
    color: var(--contrast);
    font-style: italic;
}

.inflection tbody tr:hover {
    background-color: var(--hover);
}
.inflection tbody tr:last-child {
    border-bottom: none;
}

.dictionary {
    width: calc(100% - 4 * var(--padding) - 2px);
    background-color: var(--tint);
    margin: 0 var(--padding) 0 var(--padding);
    padding: var(--padding);
    text-align: center;
    border: 1px solid var(--contrast);
    border-bottom: none;
    font-style: italic;
}

.find {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    gap: var(--padding);
    flex-wrap: wrap;
    margin: var(--height) var(--padding) 0 var(--padding);
}
input {
    height: calc(var(--height) - 2px);
    width: calc(1.5 * var(--height));
    padding-left: var(--padding);
    border: none;
    border-radius: 0;
    border-right: 1px solid var(--contrast);
    font-family: monospace;
    background-color: var(--background);
    color: var(--contrast);
}
form {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--contrast);
}
button,
select {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-height: var(--height);
    padding: var(--padding);
    color: var(--contrast);
    background-color: var(--tint);
    font-family: monospace;
    cursor: pointer;

    border: none;
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select {
    padding-right: calc(var(--padding) * 2);
}
.select {
    width: 100%;
    position: relative;
}
.select::after {
    content: "*";
    position: absolute;
    right: calc(var(--padding) / 1.5);
    top: 50%;
    transform: translateY(-50%);
    color: var(--contrast);
    pointer-events: none;
}

button:hover,
select:hover,
#theme:hover {
    background-color: var(--hover);
}
#theme {
    cursor: pointer;
    text-decoration: underline;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: calc(2 * var(--padding));
    margin: var(--padding);
    margin-top: calc(2 * var(--padding));
    font-size: var(--font-description);
    line-height: 1.1rem;
}

@media (max-width: 600px) {
    .find {
        width: calc(100% - 2 * var(--padding));
        justify-content: space-between;
    }
}
@media (min-width: 425px) {
    #wide {
        display: flex;
    }
    #long {
        display: none;
    }
}
@media (max-width: 425px) {
    .find {
        flex-direction: column;
    }
    #wide {
        display: none;
    }
    #long {
        display: flex;
    }
    #long div {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        gap: var(--padding);
    }
    #long div > * {
        flex: 1;
    }
    input,
    select {
        width: 100%;
    }
    button {
        flex: 1;
        justify-content: center;
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
}
