@font-face {
    font-family: "Fixedsys";
    font-style: normal;
    font-weight: normal;
    src:
        local("Fixedsys Excelsior 3.01"),
        url("fonts/fixedsys/FSEX300.woff") format("woff");
}
@font-face {
    font-family: "m04";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/m04fatal_fury/m04.TTF") format("truetype");
}
@font-face {
    font-family: "m04";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/m04fatal_fury/m04b.TTF") format("truetype");
}
@font-face {
    font-family: "alpha-beta";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/alpha-beta/alphbeta.ttf") format("truetype");
}

:root {
    --font-body: 22px;
    --font-normal: 20px;
    --font-pagination: 26px;
    --font-title: 24px;
    --font-description: 18px;
    --font-alcohol: 14px;

    --padding: 10px;
    --image: 100px;
    --logo: 70px;
    --margin: 50px;

    --black: black;
    --blackish: #666666;
    --darkgray: #cccccc;
    --gray: #eeeeee;
    --negative: rgba(100, 0, 0, 0.2);
    --positive: rgba(0, 100, 0, 0.2);
    --green: rgba(0, 100, 0, 0.6);
    --red: rgba(100, 0, 0, 0.6);

    --highlight: var(--positive);
    --marker: var(--green);
}

body {
    line-height: 1rem;
    font-family: "Fixedsys", monospace;
}

a,
a:visited {
    color: var(--blackish);
    text-decoration-thickness: 2px;
}
a:hover {
    background-color: var(--darkgray);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: calc(2 * var(--padding));
    margin: var(--padding);
}

.pagination {
    font-size: var(--font-pagination);
    display: flex;
    flex-direction: row;
    gap: var(--padding);
    justify-content: space-between;
    align-items: center;
    margin-right: var(--padding);
    margin-left: var(--padding);
}
.pagination img {
    max-width: var(--logo);
}

select,
input,
button {
    font-family: "Fixedsys", monospace;
    font-size: var(--font-normal);
    color: var(--blackish);
    background-color: transparent;
    appearance: none;
    border-radius: 0;
    border: none;
    cursor: pointer;
    text-align: left;
    border-bottom: 2px solid var(--blackish);
    padding: 0;
}
button {
    padding-left: var(--padding);
    padding-right: var(--padding);
}
#info,
#sortButton,
#toggleAdvanced,
#clearFilters {
    color: var(--black);
}

select {
    width: 100%;
    padding-right: calc(var(--padding) * 2);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,5" fill="rgb(0, 0, 0)"/></svg>');
    background-repeat: no-repeat;
    background-position: right calc(var(--padding) / 2) bottom;
}
header form select:hover,
header form button:hover,
header form input:hover {
    background-color: var(--gray);
}

.filterSelection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    gap: var(--margin);
    margin-left: var(--padding);
    margin-right: var(--padding);
    margin-bottom: calc(2 * var(--padding));
    padding-bottom: calc(2 * var(--padding));
    border-bottom: var(--padding) solid var(--gray);
}
.advancedSelection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: var(--padding);
    margin-left: var(--padding);
    margin-right: var(--padding);
    margin-bottom: calc(2 * var(--padding));
    padding-bottom: calc(2 * var(--padding));
    border-bottom: var(--padding) solid var(--gray);

    font-size: var(--font-normal);
    color: var(--blackish);
}
.advancedSelection div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--padding);
    align-items: center;
    width: 100%;
    max-width: 350px;
}
.advancedSelection div label {
    flex-shrink: 0;
}
.advancedSelection div input {
    flex-grow: 1;
    min-width: 0;
    text-align: center;
    height: 20px;
}

.mainSelection {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    width: 100%;
    max-width: 350px;
}
.mainSelection > * {
    width: 100%;
}
.mainSelection div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainSelection div > * {
    width: 100%;
}
.mainSelection div button {
    display: flex;
    justify-content: center;
    width: var(--padding);
    margin-left: var(--padding);
}
#clearAll {
    display: flex;
    justify-content: center;
}
#clearFilters {
    width: 28px;
    margin-right: var(--padding);
}

.message {
    margin-top: var(--margin);
    margin-right: var(--padding);
    margin-left: var(--padding);
    padding: var(--padding);
    text-align: center;
    border: 2px solid var(--blackish);
    background-color: var(--negative);
}
#disclaimer-1,
#disclaimer-2 {
    font-size: var(--font-description);
    color: var(--darkgray);
}

section {
    display: flex;
    flex-direction: row;
    margin: var(--margin) var(--padding) var(--margin) var(--padding);
    padding-bottom: var(--padding);
    border-bottom: var(--padding) solid var(--highlight);
}

p {
    color: var(--blackish);
}
.name #name {
    color: var(--blackish);
}
.name b {
    font-size: var(--font-title);
    color: var(--black);
}

.text {
    display: flex;
    align-items: center;
    gap: var(--padding);
    color: var(--blackish);
    flex-wrap: wrap;
}
.text b {
    font-family: "m04", monospace;
    font-weight: bold;
    color: var(--black);
}
#alcohol {
    font-size: var(--font-alcohol);
}
#percent {
    font-family: "alpha-beta", monospace;
}
#alcohol #percent {
    font-size: var(--font-alcohol);
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.image img {
    width: var(--image);
}
.image .text {
    justify-content: center;
    margin-bottom: calc(0.5 * var(--padding));
}

.information {
    flex: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-left: var(--padding);
}
.description p {
    font-size: var(--font-description);
}
.category {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: calc(var(--padding) * 2);
}
.country {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    column-gap: var(--padding);
    padding-top: var(--padding);
}
.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: calc(0.5 * var(--padding));
}

.modal {
    cursor: default;
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: saturate(0) blur(3px);
}
#selectCookies {
    backdrop-filter: saturate(0) blur(10px);
    /* position: relative; */
}
.infobox,
.selectCookies {
    font-size: var(--font-normal);
    position: relative;
    width: 100%;
    background-color: white;
    margin: var(--image) 0 auto 0;
    padding: var(--padding);
    border-top: var(--padding) solid var(--darkgray);
    border-bottom: var(--padding) solid var(--darkgray);
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}
.selectCookies p {
    color: var(--black);
    text-align: center;
}
.cookieSelection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--padding);
}
.cookieSelection img {
    max-width: var(--logo);
}
.cookieSelection button {
    border: none;
}
.cookieSelection #accept {
    color: var(--green);
}
.cookieSelection #decline {
    color: var(--red);
}
.cookieSelection #accept:hover,
.cookieSelection #decline:hover {
    color: var(--black);
}
.exit,
.close {
    color: var(--blackish);
    float: right;
    font-size: var(--font-pagination);
    font-weight: bold;
}
.exit:hover,
.exit:focus,
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--padding);
}
.names {
    display: flex;
    flex-direction: column;
}

.product {
    cursor: pointer;
}
.detailed {
    position: relative;
    background-color: white;
    padding: var(--padding);
    border-top: var(--padding) solid var(--darkgray);
    border-bottom: var(--padding) solid var(--darkgray);
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}
.detailed .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: var(--padding);
}
.www {
    height: calc(var(--font-title) - 4px);
}
.detailed .heading .link a {
    display: flex;
    flex-direction: row;
    gap: var(--padding);
    align-items: center;
    justify-content: center;
    align-content: center;

    font-size: var(--font-title);
    color: var(--blackish);
    font-weight: bold;
    line-height: 1.05;
}
.detailed .heading .link a:hover {
    background-color: transparent;
    color: var(--black);
}
.detailed .heading .close {
    cursor: pointer;
    align-self: center;
    margin-left: auto;
}
.navigation {
    font-size: var(--font-body);
    display: flex;
    flex-direction: row;
    gap: var(--padding);
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    pointer-events: none;
}
.navigation a {
    pointer-events: auto;
    cursor: pointer;
    background-color: var(--darkgray);
}
.navigation a:hover {
    color: var(--black);
}
#above a {
    margin-top: calc(2 * var(--padding));
    padding: var(--padding) var(--padding) 0 var(--padding);
}
#below a {
    margin-bottom: var(--margin);
    padding: 0 var(--padding) var(--padding) var(--padding);
}

hr {
    border: 0;
    height: var(--padding);
    background-color: var(--gray);
    margin: 0 calc(-1 * var(--padding));
}

.key-val {
    border-collapse: separate;
    border-spacing: 0 var(--padding);
}
.key-val tr {
    position: relative;
}
.key {
    font-size: var(--font-normal);
    color: var(--black);
    white-space: nowrap;
    vertical-align: top;
}
.val {
    font-size: var(--font-description);
    color: var(--blackish);
    position: relative;
    background-color: var(--gray);
    padding-left: 5px;
}
.val::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(-1 * var(--padding));
    width: var(--padding);
    height: 100%;
    background: linear-gradient(
        to bottom,
        var(--marker) var(--padding),
        var(--highlight) var(--padding)
    );
}

.fractions {
    border-collapse: separate;
    border-spacing: 0 calc(0.5 * var(--padding));
}
.fractions tr td {
    font-size: var(--font-normal);
}
.fractions tr .label {
    font-size: var(--font-normal);
    color: var(--blackish);
    min-width: calc(1.5 * var(--image));
}
.fractions tr .value {
    width: 100%;
    background: linear-gradient(
        to right,
        var(--highlight) 0 calc(var(--value) * 100% / var(--total) - var(--padding)),
        var(--marker) 0 calc(var(--value) * 100% / var(--total) - var(--padding)),
        var(--marker) 0 calc(var(--value) * 100% / var(--total)),
        var(--gray) calc(var(--value) * 100% / var(--total)) 100%
    );
    background-size: 100% var(--padding);
    background-repeat: no-repeat;
    background-position: center;
}
.fractions tr .percentage {
    width: 100%;
    background: linear-gradient(
        to right,
        var(--highlight) calc(var(--percentage) * 1% - var(--padding)),
        var(--marker) calc(var(--percentage) * 1% - var(--padding)),
        var(--marker) calc(var(--percentage) * 1%),
        var(--gray) calc(var(--percentage) * 1%)
    );
    background-size: 100% var(--padding);
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 690px) {
    :root {
        --font-body: 20px;
        --font-normal: 16px;
        --font-pagination: 20px;
        --font-title: 22px;
        --font-description: 16px;
    }

    .cookieSelection,
    .filterSelection,
    .advancedSelection,
    .mainSelection {
        flex-direction: column;
        align-items: center;
        gap: var(--padding);
    }

    .pagination {
        flex-direction: column;
        align-items: center;
    }

    .price {
        flex-wrap: wrap-reverse;
    }
    .price,
    .image {
        line-height: 1.4rem;
    }

    .fractions tr .label {
        min-width: var(--image);
    }

    footer {
        flex-direction: column;
        align-items: center;
        margin-top: calc(3 * var(--padding));
    }
    #bottom {
        flex-direction: column-reverse;
    }
    #dot {
        overflow: hidden;
        display: none;
    }
}
