body {
  font-family: monospace;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 20px;
  padding: 20px;
}

section {
  border: 1px solid lightgray;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 5px 0px;
}

hr {
  border: none;
  height: 1px;
  background-color: lightgray;
  margin: 20px 0px;
  margin-left: -30px;
}

section hr {
  border: none;
  height: 1px;
  background-color: lightgray;
  margin: 5px -10px;
}

/* header {
  border-radius: 50px;
  border: 1px solid lightgray;
  grid-column: 1 / -1;
  padding: 10px;
  text-align: center;
} */

nav a {
  display: inline-block;
  margin: 0 10px;
  color: black;
}

a {
  display: inline-block;
  color: darkgreen;
}

a:hover {
  background-color: lightgray;
}

/* main {
  grid-column: 1 / -1;
  padding: 20px;
  margin: 0 auto;
  text-align: left;
} */


.columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 80%;
  margin: 0 auto;
}

.columns column {
  padding: 20px;
  position: relative;
}

.columns column::before {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  height: 100%;
  width: 1px;
  background-color: lightgray;
}

.columns column:last-child::before {
  display: none;
}

.page {
  display: flex;
  flex-direction: column;
}

.item-container {
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.item-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-header-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 50px;
}

.item-header-pricechange {
  display: flex; /* Make the container a flex container */
  align-items: center; /* Vertically center the items */
  justify-content: center; /* Horizontally center the items */
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(243, 247, 244);
  border-radius: 10px;
  border: 1px solid black;
  margin-right: 20px;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.item-picture {
  margin-left: 50px;
}

.item-picture-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-picture-text p {
  font-weight: bold;
}

.item-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-information-container {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 87%;
}

.item-location {
  display: flex;
  flex-direction: 'row';
  align-items: center;
}

.item-location p {
  padding-right: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.item-category p {
  margin-top: 20px;
  font-size: 1.5rem;
  padding-left: 20px;
  font-weight: bold;
}

.item-district {
  font-size: 1.25rem;
}

.item-underdistrict {
  font-size: 1rem;
}

.item-nav {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
}

.item-nav a {
  margin: 10px;
  display: flex;
  font-size: 1.3rem;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  color: #136f63;
}

.item-nav a:hover {
  border-bottom: 2px solid black;
  background-color: white;
}

.item-nav a.active {
  color: black; /* Apply the selected color when active */
  border-bottom: 2px solid black; /* Apply the same color to the bottom border */
}

.general-headline {
  padding: 0px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prices {
  display: flex;
  justify-content: space-between;
}

.prices-subcontainer {
  display: flex;
  flex-direction: row;
}

.previous-price {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  color: #8e3b46;
  margin-right: 20px;
  align-items: center;
}

.black-line {
  background-color: black;
  height: 2px;
  width: 98%;
  margin-left: 1%;
  margin-top: 5px;
}


.item-price {
  font-size: 1.7rem;
  font-weight: bold;
  margin-left: 20px;
  color: #136f63;
}

.item-link {
  font-size: 1rem;
  text-decoration: underline;
  color: black;
  margin-left: 40px;
  margin-top: 35px;
}

.item-link:hover {
  background-color: white;
  cursor: pointer;
  color: #136f63;
}

.item-literpris {
  font-size: 1rem;
  margin-left: 40px;
  margin-top: 35px;
  font-weight: bold;
}


.caracteristic {
  background-color: rgb(235, 242, 235);
  border-radius: 15px;
  margin-left: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.caracteristic p {
  letter-spacing: 2px;
}


.item-caracteristics {
  display: flex;
}

.category-headers {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 20px;
}

.price-history-header {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 20px;
}

.tester {
  margin-top: 5px; /* Adjust this value to reduce the space */
  padding: 0; /* Remove padding if there is any */
}

/* Hide non-active sections */
.content-section {
  display: none;
}
.content-section.active {
  display: block;
}