body {
  font-family: monospace;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 20px;
  padding: 20px;
}

section {
  border: 1px solid lightgray;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 5px 0px;
}

hr {
  border: none;
  height: 1px;
  background-color: lightgray;
  margin: 20px 0px;
  margin-left: -30px;
}

section hr {
  border: none;
  height: 1px;
  background-color: lightgray;
  margin: 5px -10px;
}

/* header {
  border-radius: 50px;
  border: 1px solid lightgray;
  grid-column: 1 / -1;
  padding: 10px;
  text-align: center;
} */

nav a {
  display: inline-block;
  margin: 0 10px;
  color: black;
}

a {
  display: inline-block;
  color: darkgreen;
}

a:hover {
  background-color: lightgray;
}

/* main {
  grid-column: 1 / -1;
  padding: 20px;
  margin: 0 auto;
  text-align: left;
} */


.columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 80%;
  margin: 0 auto;
}

.columns column {
  padding: 20px;
  position: relative;
}

.columns column::before {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  height: 100%;
  width: 1px;
  background-color: lightgray;
}

.columns column:last-child::before {
  display: none;
}

.page {
  display: flex;
  flex-direction: column;
}

.item-container {
  border-radius: 10px;
  border: 1px solid black;
}

.item-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-header-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 50px;
}

.item-header-pricechange {
  display: flex; /* Make the container a flex container */
  align-items: center; /* Vertically center the items */
  justify-content: center; /* Horizontally center the items */
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(243, 247, 244);
  border-radius: 10px;
  border: 1px solid black;
  margin-right: 20px;
  margin-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  height: 50px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.item-picture {
  margin-left: 50px;
}

.item-picture-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-picture-text p {
  font-weight: bold;
}

.item-main-container {
  display: flex;
  flex-direction: row;
}

.item-information-container {
  border: 1px solid black;
}
