@font-face {
    font-family: "JetBrainsMono";
    src: url("./fonts/JetBrainsMono/Regular.woff2") format("woff2");
    font-weight: 400; /* Normal weight */
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("./fonts/JetBrainsMono/Light.woff2") format("woff2");
    font-weight: 300; /* Light weight */
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("./fonts/JetBrainsMono/Bold.woff2") format("woff2");
    font-weight: 700; /* Bold weight */
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("./fonts/JetBrainsMono/ExtraBold.woff2") format("woff2");
    font-weight: 800; /* Extra Bold weight */
}

:root {
    --border: 2px;
    --padding: 10px;
    --image: 120px;

    --large: 1.5rem;
    --medium: 1.2rem;
    --small: 1rem;
    --tiny: 0.8rem;

    --thin: 300;
    --normal: 400;
    --bold: 700;
    --bolder: 800;

    --green: darkgreen;
    --red: #8e3b46;
    --negative: rgba(100, 0, 0, 0.1);
    --positive: rgba(0, 100, 0, 0.1);
    --gray: #eeeeee;
    --darkgray: #cccccc;
    --black: black;
}

body {
    font-family: "JetBrainsMono", monospace;
    font-size: var(--small);
    font-weight: var(--normal);
    display: grid;
}

.informasjonsnavigasjon {
    display: flex;
    flex-direction: row;
    border-bottom: var(--border) solid var(--black);
}

.informasjonsnavigasjon a {
    margin: 0px var(--padding);
    display: flex;
    font-size: var(--medium);
    text-decoration: none;
    border-bottom: var(--border) solid transparent;
    color: var(--green);
}

.informasjonsnavigasjon a:hover {
    border-bottom: var(--border) solid var(--black);
    background-color: var(--gray);
}

.informasjonsnavigasjon a.active {
    color: var(--black);
    border-bottom: var(--border) solid var(--black);
}

section {
    border: var(--border) solid var(--black);
    background-color: white;
    padding: var(--padding);
    margin: calc(var(--padding) * 2) 0px;
    overflow: hidden;
    /* box-shadow:
        5px 5px 0px var(--gray),
        5px 5px 0px var(--border) var(--black); */
}

section header {
    border-bottom: var(--border) solid var(--black);
    font-size: var(--small);
    padding: 0px var(--padding);
    margin: calc(-1 * var(--padding)) calc(-1 * var(--padding)) var(--padding)
        calc(-1 * var(--padding));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--padding);
}

section .produkt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: calc(var(--padding) * 2);
    align-items: center;
}

section .produkt .bilde {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: var(--image);
}

section .produkt .bilde img {
    max-width: var(--image);
    width: 100%;
}

section .produkt .informasjon {
    width: 100%;
    font-weight: var(--thin);
}

.overskrift {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.kategori {
    text-align: left;
}
.hovedkategori {
    font-size: var(--large);
    font-weight: var(--bold);
}
.underkategori {
    font-size: var(--medium);
    font-weight: var(--normal);
}
.lokasjon {
    text-align: right;
}
.lokasjon .land {
    font-size: var(--large);
    font-weight: var(--bold);
}
.lokasjon .distrikt {
    font-size: var(--medium);
    font-weight: var(--normal);
}
.lokasjon .underdistrikt {
    font-size: var(--small);
    font-weight: var(--thin);
}

.priser {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.priser .gjeldende {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(var(--padding) * 2);
    margin-bottom: -20px;
}
.priser .gjeldende .pris {
    font-size: var(--large);
    color: var(--green);
}
.priser .gjeldende .lenke {
    font-size: var(--small);
    text-decoration: underline;
    color: var(--black);
}
.priser .gjeldende .lenke:hover {
    background-color: var(--darkgray);
    cursor: pointer;
    color: var(--black);
}
.priser .gjeldende .literpris {
    font-size: var(--small);
}
.priser .forrige {
    margin-top: -20px;
    font-size: var(--large);
    color: var(--red);
}

.informasjon hr {
    background-color: var(--black);
    height: var(--border);
    border: none;
}

.beskrivelser {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.beskrivelse {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--padding);
}

.beskrivelsestittel {
    font-size: var(--small);
}

.beskrivelseselement p {
    font-size: var(--small);
    padding: 2px 5px;
    background-color: var(--gray);
    /* border: var(--border) solid var(--black); */
    /* border-radius: 5px; */
}

.fokus {
    display: none;
}
.fokus.active {
    display: block;
}

.graf {
    width: 100%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    border-top: var(--border) solid var(--black);
    background-color: var(--gray);
    padding: var(--padding);
}

footer a {
    color: var(--black);
    text-decoration: none;
    font-size: var(--tiny);
    margin: 0px calc(var(--padding) * 2);
}

footer a:hover {
    font-weight: var(--bold);
    background-color: var(--darkgray);
}
