@font-face {
    font-family: "JB-R";
    src: url("./fonts/JetBrainsMono/Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JB-L";
    src: url("./fonts/JetBrainsMono/Light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JB-B";
    src: url("./fonts/JetBrainsMono/Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "JB-EB";
    src: url("./fonts/JetBrainsMono/ExtraBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

.CoreHTML {
    font-family: "JB-B", monospace !important;
}

.BaseInputWrapper {
    font-family: "JB-B", monospace !important;
}

.BaseContainer {
    font-family: "JB-B", monospace !important;
}

.CoreTab {
    font-family: "JB-L", monospace !important;
}

.CoreTags {
    font-family: "JB-L", monospace !important;
}

.CoreLink {
    font-family: "JB-L", monospace !important;
}

.CoreText {
    font-family: "JB-R", monospace !important;
}

.CoreHeading {
    font-family: "JB-B", monospace !important;
}

.CoreSeparator {
    height: 10px;
}

.collapser {
    background-color: #f3f7f4 !important;
}

.collapser:hover {
    background-color: #136f63 !important;
}

.WdsButton {
    padding: 10px 10px !important;
}
