:root {
    --padding: 10px;
    --height: 40px;

    --black: #000;
    --darkgray: #333;
    --gray: #ccc;
}

body {
    font-family: monospace;
    color: var(--black);

    display: flex;
    flex-direction: column;

    min-height: 100vh;
    box-sizing: border-box;
    padding: var(--padding);
}
main {
    flex: 1;
}

header,
footer {
    display: flex;
    justify-content: center;
}

a {
    display: inline-block;
    color: black;
}
a:hover {
    background-color: lightgray;
}

section {
    margin: var(--padding);
    border: 1px solid var(--gray);
    box-shadow: 0 0 var(--padding) rgba(0, 0, 0, 0.15);
}
hr {
    margin: 0;
    border: none;
    border-top: 1px solid var(--gray);
}

.word {
    display: flex;
    align-items: center;
    height: var(--height);
    padding-left: var(--padding);

    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 1px solid var(--gray);
}
.word:hover {
    background-color: var(--gray);
}
.etymology {
    font-style: italic;
}
.group,
.etymology,
.definition {
    padding: var(--padding);
}

#toggleInflection {
    width: 100%;
    height: var(--height);
    padding: var(--padding);
    text-align: left;
    font-family: monospace;
    font-size: 1em;
    border: none;
    border-top: 1px solid var(--gray);
    background-color: white;
}
#toggleInflection:hover {
    background-color: var(--gray);
    cursor: pointer;
}

.inflection {
    border-collapse: collapse;
    table-layout: fixed;
    border-top: 1px solid var(--gray);
    width: 100%;
}

.inflection tr {
    text-align: left;
    border-bottom: 1px solid var(--gray);
}
.inflection td {
    padding: var(--padding);
}

.form-cell {
    color: var(--darkgray);
    font-style: italic;
}

.inflection tbody tr:hover {
    background-color: var(--gray);
}
.inflection tbody tr:last-child {
    border-bottom: none;
}

#new {
    width: calc(100% - 2 * var(--padding));
    margin: var(--height) var(--padding) 0 var(--padding);
    height: var(--height);
    box-shadow: 0 0 var(--padding) rgba(0, 0, 0, 0.15);
    text-align: left;
    font-family: monospace;
    font-size: 1em;
    border: 1px solid var(--gray);
    background-color: white;
}
#new:hover {
    background-color: var(--gray);
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: calc(2 * var(--padding));
    margin: var(--padding);
    font-size: var(--font-description);
    line-height: 1.1rem;
}
.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--padding);
}
.names {
    display: flex;
    flex-direction: column;
}
