:root {
    --padding: 10px;
    --height: 40px;

    --black: #000;
    --darkgray: #333;
    --gray: #ccc;
    --lightgray: #f9f9f9;
}

body {
    font-family: monospace;
    color: var(--darkgray);
    font-size: 1.1em;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
    box-sizing: border-box;
    padding: var(--padding);
}
main {
    flex: 1;
}

header,
footer {
    display: flex;
    justify-content: center;
}
header {
    gap: var(--padding);
    margin: var(--padding);
}

a {
    display: inline-block;
    color: black;
}
a:hover {
    background-color: lightgray;
}

.heading {
    padding: var(--padding);
    align-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin: var(--padding);
    border: 1px solid var(--darkgray);
}
hr {
    margin: 0;
    border: none;
    border-top: 1px solid var(--darkgray);
}

.top {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
.top:hover {
    background-color: var(--gray);
}
.word,
.group {
    display: flex;
    align-items: center;
    height: var(--height);
    padding: 0 var(--padding) 0 var(--padding);
}
.word {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--darkgray);
}
.etymology {
    font-style: italic;
}
.etymology,
.definition {
    padding: var(--padding);
    background-color: var(--lightgray);
}

button {
    width: 100%;
    height: var(--height);
    padding: var(--padding);
    text-align: left;
    font-family: monospace;
    font-size: 1em;
    border: none;
    border-top: 1px solid var(--darkgray);
    background-color: white;
    color: var(--darkgray);
}
button:hover {
    background-color: var(--gray);
    cursor: pointer;
}

.inflection {
    border-collapse: collapse;
    table-layout: fixed;
    border-top: 1px solid var(--darkgray);
    width: 100%;
    background-color: var(--lightgray);
}

.inflection tr {
    text-align: left;
    border-bottom: 1px solid var(--gray);
}
.inflection td {
    padding: var(--padding);
}

.form-cell {
    color: var(--darkgray);
    font-style: italic;
}

.inflection tbody tr:hover {
    background-color: var(--gray);
}
.inflection tbody tr:last-child {
    border-bottom: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: calc(2 * var(--padding));
    margin: var(--padding);
    font-size: var(--font-description);
    line-height: 1.1rem;
}
.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--padding);
}
.names {
    display: flex;
    flex-direction: column;
}
