:root {
    --padding: 10px;
    --height: 40px;

    --black: #000;
    --darkgray: #333;
    --gray: #ccc;
    --lightgray: #f9f9f9;
}

body {
    font-family: monospace;
    color: var(--darkgray);
    font-size: 1.1em;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
    box-sizing: border-box;
    padding: var(--padding);
}
main {
    flex: 1;
}

header,
footer {
    display: flex;
    justify-content: center;
}
header {
    gap: var(--padding);
    margin: var(--padding);
}

a {
    display: inline-block;
    color: black;
}
a:hover {
    background-color: lightgray;
}

.heading {
    padding: var(--padding);
    align-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin: var(--padding);
    border: 1px solid var(--darkgray);
}
hr {
    margin: 0;
    border: none;
    border-top: 1px solid var(--darkgray);
}

.top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
}
.top:hover {
    background-color: var(--gray);
}
.word,
.group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: var(--height);
    padding: 0 var(--padding) 0 var(--padding);
}
.word {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--darkgray);
}
.etymology {
    font-style: italic;
    padding: var(--padding);
}
.definition {
    padding: var(--padding);
    background-color: var(--lightgray);
}

#toggleInflection {
    width: 100%;
    min-height: var(--height);
    padding: var(--padding);
    text-align: left;
    font-family: monospace;
    font-size: 1em;
    border: none;
    border-top: 1px solid var(--darkgray);
    background-color: white;
    color: var(--darkgray);
}
#toggleInflection:hover {
    background-color: var(--gray);
    cursor: pointer;
}

.inflection {
    border-collapse: collapse;
    table-layout: fixed;
    border-top: 1px solid var(--darkgray);
    width: 100%;
    background-color: var(--lightgray);
}

.inflection tr {
    text-align: left;
    border-bottom: 1px solid var(--gray);
}
.inflection td {
    padding: var(--padding);
}

.form-cell {
    color: var(--darkgray);
    font-style: italic;
}

.inflection tbody tr:hover {
    background-color: var(--gray);
}
.inflection tbody tr:last-child {
    border-bottom: none;
}

.find {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    gap: var(--padding);
    flex-wrap: wrap;
    margin: var(--padding) 0 0 var(--padding);
}
input {
    height: calc(var(--height) - 2px);
    width: calc(2 * var(--height));
    padding-left: var(--padding);
    border: none;
    border-radius: 0;
    border-right: 1px solid var(--darkgray);
}
form {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--darkgray);
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-height: var(--height);
    padding: var(--padding);
    border: none;
    color: var(--darkgray);
    background-color: white;
}
button:hover {
    background-color: var(--gray);
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: calc(2 * var(--padding));
    margin: var(--padding);
    margin-top: calc(2 * var(--padding));
    font-size: var(--font-description);
    line-height: 1.1rem;
}
.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--padding);
}
.names {
    display: flex;
    flex-direction: column;
}

@media (max-width: 500px) {
    .find {
        width: calc(100% - 2 * var(--padding));
        justify-content: space-between;
    }
}
@media (max-width: 350px) {
    .find {
        flex-direction: column;
    }
    input {
        width: 100%;
    }
    button {
        flex: 1;
        justify-content: center;
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
}
