@font-face {
    font-family: "JetBrainsMono";
    src: url("./fonts/JetBrainsMono/Light.woff2") format("woff2");
    font-weight: 300; /* Light */
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("./fonts/JetBrainsMono/Regular.woff2") format("woff2");
    font-weight: 400; /* Normal */
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("./fonts/JetBrainsMono/Bold.woff2") format("woff2");
    font-weight: 700; /* Bold */
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("./fonts/JetBrainsMono/ExtraBold.woff2") format("woff2");
    font-weight: 800; /* Bolder */
}

:root {
    /* Font weight */
    --light: 300;
    --normal: 400;
    --bold: 700;
    --bolder: 800;

    /* Font size */
    --tiny: 10px;
    --small: 14px;
    --medium: 16px;
    --normal: 18px;
    --large: 24px;

    /* Size */
    --border: 2px;
    --padding: 10px;
    --image: 100px;
    --delta: 5px;
    --height: 50px;

    /* Colour */
    --black: black;
    --blackish: #666666;
    --darkgray: #cccccc;
    --gray: #eeeeee;

    --green: darkgreen;
    --red: #8e3b46;
    --negative: rgba(100, 0, 0, 0.1);
    --positive: rgba(0, 100, 0, 0.1);
}

body {
    line-height: 1rem;
    font-size: var(--small);
    font-family: "JetBrainsMono", monospace;
}

section {
    display: flex;
    flex-direction: row;
    /* padding: var(--padding) var(--padding) calc(var(--padding) * 4) var(--padding); */
    padding: 0 0 var(--padding) 0;
}

.left .right {
    border: var(--border) solid var(--black);
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: calc(var(--image) + var(--delta) * 2);
    border: var(--border) solid var(--black);
}
.left img {
    width: var(--image);
}
.right {
    flex: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.oppe {
    display: flex;
    flex-direction: row;
}
.nede {
    height: 100%;
    margin: 0 var(--delta) var(--delta) 0;
    /* box-shadow: var(--delta) var(--delta) 0 var(--delta) var(--gray); */
    border-bottom: var(--border) solid var(--black);
    border-right: var(--border) solid var(--black);
}

.overskrift {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 100%;
    height: calc(var(--height) + var(--delta));
    margin-top: var(--delta);
    border-top: var(--border) solid var(--black);
    border-bottom: var(--border) solid var(--black);
}
.pisendring {
    width: calc(2 * var(--height));
    height: calc(var(--height) + 2 * var(--delta));
    border: var(--border) solid var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}
